<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Shelby Wine Boutique </title>
    <link rel="shortcut icon" href="../img/logo115.jpeg">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
    <nav>
        <a href="../index.html"> 
        <img src="../img/logo115.jpeg" alt="logo de Shelby">
        </a>
        <ul class="menu">
            <li>
                        <a href="../views/productos.html"> Productos
                        </a>
                    </li>
                    <li>
                        <a href="../views/envios.html"> Envios
                        </a>
                    </li>
                    <li>
                        <a href="../views/nosotros.html"> Nosotros
                        </a>
                    </li>
                    <li>
                        <a href="../views/contacto.html"> Contacto
                        </a>
            </li>
        </ul>
</nav>
    <!-- ends nav-->
    <main> 
            <h1> Envios </h1>

            <h2> Desde las mejores bodegas a la puerta de tu casa </h2>

    <header>     <img src="../img/envios.jpeg" alt="Envios">
 </header> 
 <fieldset> 
    <legend> Info de Envio </legend>
<label for="local"> Retiro en Local </label>
<input type="radio" id="local" value="local" name="envio">

<label for="casa"> Envio a Domicilio </label>
<input type="radio" id="casa" value="casa" name="envio">
<label for="localidad"> Provincia </label>
<select name="" id="localidad">
    <option value="CABA"> CABA </option>
    <option value="GBA"> GBA </option>
    <option value="PAIS"> PAIS </option>
</select>
</fieldset>

 <section> 
    <footer class="pie"> 
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/FBAQ.jpg" alt="">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <img src="../img/TWAQ1.jpg" alt="">
        </a>
        <a href="https://www.instagram.com/shelby.wineryboutique/" target="_blank">
            <img src="../img/IGAQ1.jpg" alt="">
        </a>
    </footer>
    </section>
    
</main>

</body>
</html>