<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Shelby Wine Boutique </title>
    <link rel="shortcut icon" href="../img/logo115.jpeg">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
    <nav>
        <a href="../index.html"> 
        <img src="../img/logo115.jpeg" alt="logo de Shelby">
        </a>
        <ul class="menu">
            <li>
                <a href="../views/productos.html"> Productos
                </a>
            </li>
            <li>
                <a href="../views/envios.html"> Envios
                </a>
            </li>
            <li>
                <a href="../views/nosotros.html"> Nosotros
                </a>
            </li>
            <li>
                <a href="../views/contacto.html"> Contacto
                </a>
            </li>
        </ul>
     </nav>
    <!-- ends nav-->
    <main>
        <section>
            <article>
        
        <h1> Un poco sobre nosotros </h1>

      <div>  <h2><p> Somos una tienda virtual de vinos, creada por amantes del vino y los buenos momentos. 
        </p></h2></section></article>

    <header>  <img src="../img/nos.jpeg" alt="Nosotros"></div>
     </header>
    </main>

     <section> 
    <footer class="pie"> 
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/FBAQ.jpg" alt="">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <img src="../img/TWAQ1.jpg" alt="">
        </a>
        <a href="https://www.instagram.com/shelby.wineryboutique/" target="_blank">
            <img src="../img/IGAQ1.jpg" alt="">
        </a>
        </footer>
    </section>
    


</body>
</html>