<!DOCTYPE html>
<html lang="en">
<head>
    <title> Shelby Wine Boutique </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../img/logo115.jpeg">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <nav>
        
        <a href="../index.html"> 
        <img src="../img/logo115.jpeg" alt="logo de Shelby">
        </a>
        <ul class="menu"> 
            <li>
                <a href="../views/productos.html"> Productos
                </a>
            </li>
            <li>
                <a href="../views/envios.html"> Envios
                </a>
            </li>
            <li>
                <a href="../views/nosotros.html"> Nosotros
                </a>
            </li>
            <li>
                <a href="../index.html#contacto"> Contacto
                </a>
            </li>
        </ul>
        
</nav>
<div class="contenedor"></div>
    <header> 
        <img src="../img/productos.jpeg" alt="productos">
        <h1> Nuestros Productos </h1> 
    </header>
    <main id="vinos"> 
		<div class="galeria">			
			<figure class="box">
				<img src="../img/p1.jpeg" alt="p1">
				<figcaption>Box de vinos Shelby</figcaption>
				<p class="price">$2.000,00</p>
			</figure>

			<figure class="box">
				<img src="../img/p3.jpeg" alt="p3">
				<figcaption>Box Premium</figcaption>
				<p class="price">$3.500,00</p>
			</figure>

			<figure class="box">
				<img src="../img/p2.jpeg" alt="p2">
				<figcaption>Box Deluxe edition</figcaption>
				<p class="price">$5.000,00</p>
			</figure>
		</div>
	</main>
    <!-- ends main-->

    <section> 
        <footer class="pie"> 
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/FBAQ.jpg" alt="">
            </a>
            <a href="https://www.twitter.com/" target="_blank">
                <img src="../img/TWAQ1.jpg" alt="">
            </a>
            <a href="https://www.instagram.com/shelby.wineryboutique/" target="_blank">
                <img src="../img/IGAQ1.jpg" alt="">
            </a>
            </footer>
        </section>
        
    </main>
</div>
    
    </body>
    </html>

















